
@media print {
    * {
        -webkit-print-color-adjust: exact !important;
    }
    .noBreak {
        break-inside: avoid;
    }
    .noPrint {
        display: none;
    }
    .content-wrapper{
        background-color: white;
    }
    div.card.card-warning{
        border: silver solid 1px;
        box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    }
    .btn{
        display: none;
    }
    .storefooter{
        display: none;
    }
    #divStoreStatus{
        display: none;
    }
}
