/*全域設定*/
::placeholder {
  color: #999; 
}

/* 商品進度和商家名稱 */
.order-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-list{
  display: flex;
  justify-content: center;
  width: 100%;
  margin:60px 0;

}

.progress-list li{   
  display: flex;
  font-size: 21px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-image: linear-gradient(45deg, #995be4, #ecf2ea, #995be4);
  position: relative;
}

.progress-list li+li{    /* 兄弟節點間格 */
  margin-left: 120px;
}

.progress-list li+li:before{ 
  content: '';  
  position: absolute; 
  width: 120px;
  height: 7px;
  background-color:lightblue;
  top:0;
  bottom: 0;
  left: -120px;
  margin: auto;
}

.progress-list li.active ~li{
  background-image: linear-gradient(45deg, rgb(167, 166, 166), rgb(167, 166, 166), rgb(167, 166, 166));
}

.progress-list li.active ~li::before{
  background-color: rgb(167, 166, 166);
}

/**************************************************** STEP1 ******************************************/
.step-content{
  display: flex; /* 使用 Flexbox 佈局 */
  text-align: center; /* 將內容置中 */
  flex-direction: column; /* 垂直堆疊子元素 */
  align-items: center; /* 水平居中對齊子元素 */
  width: 100%;
}

.store-info {
  display: flex; /* 使用 Flexbox 佈局 */
  align-items: center; /* 垂直居中對齊 */
  padding: 10px 20px; /* 內邊距，用於內容和邊框之間的距離 */
  background-color: #f8f9fa; /* 背景色 */
  border: none; /* 邊框顏色和寬度 */
  border-radius: 5px; /* 圓角，如果需要直角可以設置為0 */
  margin: 10px; /* 外邊距，用於元素之間的距離 */
  text-decoration: none; /* 去除默認的超鏈接下劃線 */
  color: #343a40; /* 文字顏色 */
  font-size: 16px; /* 文字大小 */
  font-weight: bold; /* 文字加粗 */
  max-width: 100%;
  box-sizing: border-box;
  width: 45%;
}

.checkout-content-img {
  margin-right: 20px; /* 與文字之間的距離 */
}

.checkout-content-img img {
  width: 100px; /* 設置圖片的寬度 */
  height: 100px; /* 設置圖片的高度 */
  
}

.store-name {
  flex: 1; /* 使 store-name 元素填滿剩餘空間 */
  text-align: left; /* 文字靠左對齊 */
}

/* 購物內容 */
.item-detail {
  padding: 10px 20px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
  margin: 10px;
  color: #343a40;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  width: 45%;
}

.item-detail h4{
  text-align: left;
}

.user-info{
  display: flex;
  align-items: center;
}

.user-info img{
  max-width: 20%; /* 最大宽度 500px */
  max-height: 5%; /* 最大高度 300px */
  width: auto; /* 自动宽度以保持比例 */
  height: auto; /* 自动高度以保持比例 */
  object-fit: contain; /* 保持图片纵横比，适应容器 */
  margin-bottom: 10px;
}

.user-name{
  margin-left: 30px;
}


.item-content {
  display: flex;
  flex-direction: column;
  background-color: #cbd6e1;
  margin-bottom: 8px;
}

.cart-item {
  display: flex; /* 使用 Flexbox 佈局 */
  justify-content: space-between; /* 使內容分佈在行內兩端 */
  align-items: center; /* 垂直居中對齊 */
}

.product-name {
  margin: 0; /* 移除默認的外邊距 */
  font-size: 20px;
}

.product-buttons {
  display: flex;
  gap: 10px;
}

.product-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #007bff;
}

.product-buttons button:hover {
  color: #0056b3;
}

.product-detail{
  display: flex;
}


/* 運送方式 */
.recevier-method {
  padding: 10px 20px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
  margin: 10px;
  color: #343a40;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  width: 45%;
}

.recevier-method h4{
  text-align: left;
}


.pick-up, .carry-out {
  /* display: flex; */
  margin-bottom: 5px; /* 讓選項之間有距離 */
 text-align: left;
}


.carry-out-address {
  width: 100%; /* 確保輸入欄寬度填滿父容器 */
  border: 1px solid #ccc; /* 邊框顏色為淺灰色，1px 寬度 */
  border-radius: 4px; /* 可選：設置圓角邊框 */
  margin-bottom: 20px;
}

.address {
  width: 100%; /* 確保輸入欄寬度填滿父容器 */
}

.address::placeholder {
  color: #999;
}

/*取貨時間 */
.recevie-time{
  text-align: left;
}

#myDatepicker::placeholder {
  color: #999;
}

/*優惠券 */

.coupon-use {
  padding: 10px 20px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
  margin: 10px;
  color: #343a40;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  width: 45%;
}
.coupon-number::placeholder {
  color: #999;
}

.coupon-use h4 {
  text-align: left; /* 標題靠左對齊 */
  margin-bottom: 10px; /* 增加標題和內容之間的間距 */
}

.select-coupon, .coupon-number,
.select-membercard, .select-moneybag{
  text-align: left;
}

.coupon-number {
  width: 100%; /* 確保輸入欄寬度填滿父容器 */
  border: 1px solid #ccc; /* 邊框顏色為淺灰色，1px 寬度 */
  border-radius: 4px; /* 可選：設置圓角邊框 */
}

/*訂單彙總*/

.amount-summary {
  padding: 10px 20px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
  margin: 10px;
  color: #343a40;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  width: 45%;
  text-align: left;
}

.summary-product-detail,
.coupon-minus,
.membercard-minus, .moneybag-minus,
.amount-result{
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: space-between; /* 使內容兩端對齊 */
  align-items: center; /* 垂直居中對齊 */
  margin-bottom: 10px; /* 增加內容之間的間距 */
}

hr {
  border: 0;
  height: 1px;
  background: #333; /* 設置顏色 */
  margin: 10px 0;   /* 設置上下間距 */
}
.amount-result h4,p{
  color: red;
}

/* 頁尾按鈕 */
.btn-nextstep {
  display: flex;
  gap: 10px; /* 按钮间距 */
  width: 100%;
  justify-content: center;
  margin: 10px 0px;
}

.btn-addtopurchase, .btn-checkout{
  padding: 1% 7%;
  font-size: large;
  background-color: #65a15a;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: 'Montserrat', sans-serif;
}

.btn-addtopurchase:hover,
.btn-checkout:hover{
  background-color: #b6c4b7; /* 悬停背景色 */
}

/*light燈箱for修改訂單*/
#lightbox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .5);
}
#lightbox > article{
  background-color: white;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  padding: 10px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lightbox > article h1{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.lightbox_end{
  display: flex;
  padding: 10px;
}

input.qtyplus{
  margin-right: 40px;
}

.qty {
  width: 60px;
  height: auto;
  text-align: center;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}


input.qtyplus {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  background: #f8f8f8;
}

input.qtyminus {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  background: #f8f8f8;
}

.btn_modal_close{
  background-color: orange;
  color: white;
  border: none;
  width: 150px;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
}

.lightbox-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.lightbox-radio-group input[type="radio"] {
    display: none;
}

.lightbox-radio-group label {
  display: inline-block;
  flex: 0 0 30%;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}

.lightbox-radio-group input[type="radio"]:checked + label {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

/*light燈箱for刪除訂單*/
#lightbox-delete{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .5);
}
.lightbox-content{
  background-color: white;
  max-width: 90%;
  width: 45%;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lightbox-content p{
  padding: 10px;
  font-size: 20px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
.highlight {
  color: red; 
  font-weight: bold; 
}
.delete-button {
  display: flex;
  padding: 10px;
  gap: 10px; /* 按钮间距 */
  width: 100%;
  justify-content: center;
}

#confirm-delete, #cancel-delete{
  padding: 1% 7%;
  font-size: large;
  background-color: orange;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: 'Montserrat', sans-serif;
}

#confirm-delete:hover,
#cancel-delete:hover{
  background-color: #b6c4b7; /* 悬停背景色 */
}


/**************************************************** STEP2 ******************************************/
.step-content2{
  display: flex; /* 使用 Flexbox 佈局 */
  text-align: center; /* 將內容置中 */
  flex-direction: column; /* 垂直堆疊子元素 */
  align-items: center; /* 水平居中對齊子元素 */
  width: 100%;
}

/*應付金額*/
.account-payable {
  display: flex; /* 使用 Flexbox 佈局 */
  align-items: center; /* 垂直居中對齊 */
  padding: 10px 5px; /* 內邊距，用於內容和邊框之間的距離 */
  background-color: orange; /* 背景色 */
  border: none; /* 邊框顏色和寬度 */
  border-radius: 5px; /* 圓角，如果需要直角可以設置為0 */
  margin: 10px; /* 外邊距，用於元素之間的距離 */
  color: white; 
  font-size: 20px; 
  font-weight: bold; /* 文字加粗 */
  max-width: 100%;
  box-sizing: border-box;
  width: 45%;
  padding: 30px;
}

.payable-unit{
  display: flex;
  background-color: white;
  padding: 15px 30px;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  font-size:23px;
  color: orange;
}

.payable-price {
  margin-left: auto;
}

/*取貨人資料 */
.pickup-detail {
  display: flex;
  padding: 10px 20px;
  text-align:left;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin: 10px;
  color: #343a40;
  font-size: 22px;
  box-sizing: border-box;
  width: 45%;
  flex-direction: column;

}


input.pickuper{
  margin-bottom: 10px;
  border: 1px solid #c5c0c0; /* 輕微的淺灰色邊框 */
  padding: 0;
  font-size: 20px;
  width: 100%;
}
/* 焦點時的邊框樣式 */
/* input.focus-border {
  border: 1px solid #000000 !important;  
  outline: none; 
} */

ul.contact-selection,
ul.payment-selection,
ul.invoice-type-selection {
  list-style-type: none;
  padding: 0;
}

ul.contact-selection li{
  font-size: 20px;
}

input.input-cellphone{
  display: block; /* 確保輸入框在新行顯示 */
  border: 1px solid #c5c0c0;
  margin-bottom: 10px;
  width: 100%;
}

.input-phone{
  display: flex;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input.input-phone-zone{
  border: 1px solid #c5c0c0;
  text-align: center;
  width: 15%;
  margin-right: 10px;
}

input.input-phone-number{
  border: 1px solid #c5c0c0;
  width: 85%;
  padding-left:5px ;
}

textarea.text2store{
  border: 1px solid #c5c0c0; /* 輕微的淺灰色邊框 */
  padding: 0;
  resize: none;
  width: 100%;
}

/*付款方式*/
.payment-method {
  display: flex;
  padding: 10px 20px;
  text-align:left;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin: 10px;
  color: #343a40;
  font-size: 22px;
  box-sizing: border-box;
  width: 45%;
  flex-direction: column;
}

/*開立發票 */
.invoice-type {
  display: flex;
  padding: 10px 20px;
  text-align:left;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin: 10px;
  color: #343a40;
  font-size: 22px;
  box-sizing: border-box;
  width: 45%;
  flex-direction: column;
}

.vehicle-detail{
  display: flex;
  flex-wrap: wrap; /* 當元素超過一行時，會換行 */
}

.label-vehicle{
  margin-left: 6px;
}

input.checksava-vehicle{
  margin-left: auto; 
}

input.vehicle-number{
  display: block; 
  border: 1px solid #c5c0c0;
  margin-bottom: 20px;
  width: 100%;
  padding: 0;
}

input.uniform-numbers{
  display: block; 
  border: 1px solid #c5c0c0;
  margin-bottom: 20px;
  width: 100%;
  padding: 0;
}

/* 頁尾按鈕 */
.btn-nextstep2 {
  display: flex;
  gap: 10px; /* 按钮间距 */
  width: 100%;
  justify-content: center;
  margin: 10px 0px;
}

.btn-backto-last-page, .btn-goto-next-page{
  padding: 1% 7%;
  font-size: large;
  background-color: #65a15a;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: 'Montserrat', sans-serif;
}

.btn-backto-last-page:hover,
.btn-goto-next-page:hover{
  background-color: #b6c4b7; /* 悬停背景色 */
}

/**************************************************** STEP3 ******************************************/
.step-content3{
  display: flex; /* 使用 Flexbox 佈局 */
  text-align: center; /* 將內容置中 */
  flex-direction: column; /* 垂直堆疊子元素 */
  align-items: center; /* 水平居中對齊子元素 */
  width: 100%;
}

/*訂單細項*/
.order-detail-confirm{
  display: flex;
  padding: 10px 20px;
  text-align:left;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin: 10px;
  color: #343a40;
  font-size: 22px;
  box-sizing: border-box;
  width: 45%;
  flex-direction: column;
}

.order-detail-content thead th {
  padding: 8px;
  text-align: left;
}

.order-detail-content tbody td {
  padding: 15px; /* 內邊距 */
  border-bottom: 1px solid #ddd; /* 底部邊框 */
}

/* 頁尾按鈕 */
.btn-nextstep3 {
  display: flex;
  gap: 10px; /* 按钮间距 */
  width: 100%;
  justify-content: center;
  margin: 10px 0px;
}

.btn-backto-last-page2, .btn-submit-order{
  padding: 1% 7%;
  font-size: large;
  background-color: #65a15a;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: 'Montserrat', sans-serif;
}

.btn-backto-last-page2:hover,
.btn-submit-order:hover{
  background-color: #b6c4b7; /* 悬停背景色 */
}
