
* {
    box-sizing: border-box;
}

.reset-margin {
    margin: 0;
    margin-top: 2%;
    background-color: #f5f5f5;
    padding: 20px;
    padding-top: 0;
    overflow: visible;
}

div#faq {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

#title-list {
    /*margin-right: 30px;*/
    margin-top: 20px;
    padding: 20px 10px 0px 10px;
    background-color: white;
    border-radius: 5px;
}

#title-list li {
    height: 60px;
    font-size: 18px;
    text-align: left;
    list-style-type: none;
    color: black;
}

ul.faq-list {
    margin: 24px 0 0 0;
    padding: 0;
    list-style: none;
}

ul.faq-list > li {
    margin-bottom: 10px;
    box-shadow: 0px 2px 0px 0px rgba(56, 55, 53, 0.33);
}

ul.faq-list > li:last-child {
    margin-bottom: 0;
}

ul.faq-list > li > a.link_title {
    display: block;
    width: 100%;
    color: black;
    background-color: white;
    padding: 15px 0px;
    text-decoration: none;
    font-size: 16px;
}

ul.faq-list > li > a.link_title::after {
    content: "";
    display: block;
    clear: both;
}

ul.faq-list > li > a.link_title button.switch_btn {
    float: right;
    display: inline-block;
    background: none;
    border: 0;
    outline: none;
    color: #73B4BA;
    font-size: 30px;
    padding: 0px;
}

ul.faq-list > li > a.link_title button.switch_btn span.-minus {
    display: none;
}

ul.faq-list > li > div.inner_block {
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 8px;
    padding: 0px 0px 10px 10px;
    line-height: 1.6;
    display: none;
}

ul.faq-list > li.-on > a.link_title button.switch_btn span.-plus {
    display: none;

}

ul.faq-list > li.-on > a.link_title button.switch_btn span.-minus {
    display: inline-block;
}

div.main-content {
    margin: 0px
}

div.faq-card {
    padding: 30px;
    background: white;
    width: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

div.card-title {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

div#faq-query-bar {
    background: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba(128, 128, 128, 0.59)
}

div#faq-query-bar input {
    width: 80%;
    border: 0px;
    padding-right: 5px;;
    flex: 1; /* 讓 input 佔滿剩餘的空間 */
}

#faq-nav {
    padding: 0px 15px 0px 0px;
    position: sticky;
    top: 0;
}

div#faq-nav a {
    display: flex;
    align-items: center;
    padding-right: 15px;

}

div#card-list {
    margin-top: 20px;
    padding: 0;

}

div.faq-card:last-child {
    margin-bottom: 0;
}

@media (max-width: 1200.98px) {
    div#faq {
        width: 90%;

    }

    #faq-nav {
        z-index: 9999;
        background-color: white;
        padding: 0;
    }

    div#title-list {
        border-bottom: 3px solid silver;
        padding: 0;
        /*z-index:999;*/
        /*position: relative*/
    }

    div#title-list li {
        display: inline-block;
        margin-right: max(20px);

    }

    div#title-list li:last-child {
        margin-right: 0;
    }

    div#title-list a {
        background-color: #73B4BA;
        padding: 7px 13px;
        border-radius: 15px;
    }

    div#card-list {
        /*padding-top: 50px;*/
    }
}
