.body {
    margin: 0 auto;
}

.main-content {
    padding-bottom: 0;
}

.login {
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 400px;
    padding: 2%;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 12px 0 rgba(2, 2, 2, 0.16);
}

.login div {
    margin-bottom: 5%;
}


#toggleLink {
    color: #73B4BA;
}

#toggleLink:hover {
    font-weight: bold;
    color: #73B4BA;
    cursor: pointer;
}

/*.forgotPwd {*/
/*    color: #6c757d;*/
/*}*/

/*.forgotPwd:hover {*/
/*    color: #dc3545;*/
/*    cursor: pointer;*/
/*}*/

/*.loginForm {*/
/*    text-align: left;*/
/*}*/

/*.loginForm div {*/
/*    margin: 0;*/
/*    margin-left: 2%;*/
/*    border-radius: 5px;*/
/*}*/

/*.userPhoneBlock, .passwordBlock {*/
/*    display: flex;*/
/*    border: 1px solid #b4b5b6;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

/*.userPhoneBlock i, .passwordBlock i {*/
/*    padding-left: 2%;*/

/*}*/

/*.userPhoneBlock input, .passwordBlock input {*/
/*    width: 75%;*/
/*    border: none;*/
/*    padding-left: 0;*/
/*}*/

/*.passwordError, .userPhoneError {*/
/*    color: #dc3545;*/
/*    font-size: 24px;*/
/*    visibility: hidden;*/
/*}*/

/*.-on {*/
/*    display: inline-block;*/
/*    visibility: visible;*/
/*}*/


/*button setting*/
.btn {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    font-size: 16px;
    margin-right: 1%;
    border-radius: 5px;
}

.btnSave, .btnLogin {
    background-color: #73B4BA;
    border: 1px solid #73B4BA;
    color: white;
}

.btnLogin {
    width: 100%;
}

.btnSave:hover, .btnLogin:hover {
    background-color: white;
    border: 1px solid #73B4BA;
    color: #73B4BA;
}

.btnEdit {
    background-color: #FAC792;
    border: 1px solid #FAC792;
    color: white;
}

.btnEdit:hover {
    background-color: white;
    border: 1px solid #FAC792;
    color: #f38f27;
}

.btnCancel, .btnDownload, .btnQuery {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: white;
}

.btnCancel:hover, .btnDownload:hover, .btnQuery:hover {
    background-color: white;
    border: 1px solid #6c757d;
    color: #6c757d;
}

.hidden {
    display: none;
}

