input[type="submit"]{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    background-color: #73B4BA;
    border: 1px solid #73B4BA;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    margin-bottom: 2%;
}

.reset-margin {
    margin: 0;
    margin-top: 2%;
    background-color: transparent;
}

.memberPageName {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 24px;
}

.member-aside {
    height: 100%;
    margin: 0 auto;
    /*background-color: #f8f8f8;*/
}

.member-introduction {
    margin: 0 auto;
    margin-right: 30px;
    padding-top: 55px;
    padding-right: 20px;
    padding-bottom: 45px;
    padding-left: 20px;
    background-color: white;
}

.member-introduction div {
    text-align: center;
    overflow: hidden;
}


.member-list {
    margin-right: 30px;
    margin-top: 50px;
    padding: 10px;
    /*padding-left: 60px;*/
    background-color: white;
}

.member-list li {
    height: 60px;
    font-size: 18px;
    text-align: left;
    list-style-type: none;
    border-left: solid 5px white;
}

.member-list .member-list-active {
    border-left: solid 5px #73B4BA;
}


.member-list div {
    padding-left: 10px;

    height: 100%;
    line-height: 100%;
    vertical-align: middle
}

.warn {
    display: inline;
    color: #ff5e7d;
}

.remind {
    color: #9b9b9b;
    font-size: 12px;
}

.userPhoto {
    margin: 0 auto;
    display: inline-block;
    width: 30%;
    border-radius: 50%;
    text-align: center;
}

.sex {
    font-size: 16px;
    display: block;
}

.sex > div {
    padding-left: 2%;
    display: inline-block;
}
